In [5]:
# Add the Pandas dependency.
import pandas as pd

In [6]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [7]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [10]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [11]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [12]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [13]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [14]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [15]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [16]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [18]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-18-d1e003a410f5>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [19]:
student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Dylan Taylor',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas',
 'Scott Glover',
 'Jacqueline White',
 'Elizabeth Espinoza',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Roberto Wright',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Catherine Williams',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams',
 'Michele Dickerson',
 'Alicia Martinez',
 'Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson',
 'Tina Armstrong',
 'Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade',
 ...]

In [20]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-20-936bcbd78b9a>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")